body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script';
}

#map { position: absolute; top: 0; bottom: 0; width: 100%;}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 15em;
  }
  
  h2 {
    margin: 0; padding: 0;
  }

  p {
    margin: 0.3em 0 0 0; padding: 0;
  }

  img {
    width: 6em;
    margin: 0.5em;
    float: right;
    border: 1px solid gray;
    border-radius: 0.2em;
    filter: drop-shadow(2px 2px #0e0e0e);

  }