body {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script';
}

#map { position: absolute; top: 0; bottom: 0; width: 100%;}

.mapboxgl-popup {
  /* max-width: 400px; */
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 20em;
  }

  h2, h3 {
    font-family: 'Dancing Script';
    line-height: 120%;
  }
  
 h2 {
    padding: 0;
    font-size: 180%;
    margin: 0; 
  }

  h3 {
    font-size: 140%;
    margin: 0.2em 0 0.5em 0; 

  }

  h4 {
    color: rgb(144, 144, 144);
    margin: 0 0 0.5em 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .05rem;
  }

  p {
    margin: 0.3em 0 0 0; padding: 0;
    line-height: 1.2;
  }

  img {
    width: 6em;
    margin: 0.8em;
    float: right;
    border: 1px solid gray;
    border-radius: 0.2em;
    filter: drop-shadow(2px 2px #0e0e0e);
  }

  hr {
    border-top: 1px dotted silver;
    border-bottom: 0px;
    margin: 1em 0;
  }